@import "fonts.scss";
@import "iconsfont.scss";
@import "reset.scss";

html{
	height:100%;
}

body{
	height: 100%;
	background-color: #030303;
	font-family: Open Sans;
	color: #ffffff;
}

ul{
	list-style: none;
}

.wrapper {
	min-height: 100%;
	display: grid;
	grid-template: minmax(414px, auto) 1fr minmax(275px, auto) / 1fr;
	grid-template-areas: 
	"header"
	"main"
	"footer";
}

.header {
	grid-area: header;
	display: grid;
	align-items: center;
	grid-template: 1fr / 1fr minmax(auto, 1704px) 1fr;
		&__menu {
			grid-column: 2 / 3;
		}

		&__list {
			display: grid;
			grid-template: 1fr / minmax(auto, 568px) minmax(auto, 568px) minmax(auto, 568px);
			grid-auto-flow: column;
			justify-items: center;
		}

		&__link {
			font-weight: 700;
		font-size: 46px;
		line-height: 131px;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 1px #ffffff;
		text-decoration: none;
		&:hover{
			-webkit-text-fill-color: #ffffff;
			-webkit-text-stroke: 0 #030303;
		}
	}
}

.main {
	grid-area: main;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 1704px) 1fr;
}

.content {
	grid-column: 2 / 3;
	display: grid;
	grid-template: 1fr 1fr / 1fr;
}
.vignette {

		&__title {
			position: relative;
			overflow: hidden;
			height: 777px;
			& img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: 50% 25%;
			}
		}

		&__name {
			-webkit-text-stroke: 1px #030303;
			position: absolute;
			font-family: 'Avenir Next Cyr';
			font-weight: 400;
			font-size: 96px;
			line-height: 118px;
			top: 70%;
			left: 37%;
		}

		&__tip {
			position: absolute;
			font-weight: 600;
			font-size: 18px;
			line-height: 25px;
			color: #666666;
			top: 95%;
			left: 48.5%;
		}

		&__text {
			margin: 150px 0 250px 0;
		}
}

.text {
	display: grid;
	grid-template: 1fr 1fr / 1fr minmax(50px, auto) minmax(50px, auto) minmax(150px, auto) 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	&__name {
		&-1, &-2 {
			grid-row: span 2;
			text-align: center;
			align-self: center;
			font-weight: 700;
			font-size: 24px;
			line-height: 33px;
		}

		&-1 {
			grid-column: 2 / 3;
		}

		&-2 {
			grid-column: 3 / 4;
		}

		&-3, &-4, &-5, &-6 {
			grid-row: 1 / 2;
			align-self: center;
		}

		&-7, &-8, &-9 {
			grid-row: 2 / 3;
			align-self: center;
		}

		&-3 {
			grid-column: 5 / 6;
		}

		&-4 {
			grid-column: 6 / 7;
		}

		&-5 {
			grid-column: 7 / 8;
		}

		&-6 {
			grid-column: 8 / 9;
		}

		&-7 {
			grid-column: 5 / 6;
		}

		&-8 {
			grid-column: 6 / 7;
		}

		&-9 {
			grid-column: 7 / 8;
		}
	}
}

.thin{
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #666666;
}

.player {

		&__item {
			padding: 0 0 30px 0;
			& iframe{
				filter: sepia(15%) grayscale(30%);
			}
		}
}
.footer {
	grid-area: footer;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 568px) minmax(auto, 568px) minmax(auto, 568px) 1fr;
	align-items: center;
	font-family: 'Avenir Next Cyr';
	color: #666666;
	font-weight: 300;
	font-size: 18px;
	line-height: 22.05px;
	letter-spacing: 0.03em;
		&__copy {
			grid-column: 4 / 5;
			justify-self: center;
		}

		&__text {
			grid-column: 3 / 4;
			justify-self: center;
		}

		&__messengers {
			grid-column: 2 / 3;
		}
}

.messenger {
display: grid;
grid-template: 1fr / minmax(auto, 190) minmax(auto, 190) minmax(auto, 190);
		&__wa {
			grid-column: 1 / 2;
			justify-self: end;
		}

		&__tg {
			grid-column: 2 / 3;
			justify-self: center;
		}

		&__vk {
			grid-column: 3 / 4;
			justify-self: start;
		}
}
.Icon {
	&-Whatsapp, &-TG, &-VK {
		font-size: 52px;
		text-decoration: none;
	}
}

@media (max-width: 1100px) {
	.header {
		&__list {
			grid-template: minmax(auto, 100px) minmax(auto, 100px) minmax(auto, 100px) / 1fr;
		}
	}
	.vignette {
		&__title {
			height: 500px;
		}
		&__name {
			font-size: 72px;
			line-height: 94px;
			top: 70%;
			left: 33.7%;
		}
		&__tip {
			font-size: 18px;
			line-height: 25px;
			top: 95%;
			left: 47.7%;
		}
	}
	.text {
		gap: 10px;
	}
}

@media (max-width: 700px) {
	.vignette {
		&__name {
			top: 70%;
			left: 24.56%;
		}
	}
}

@media print {
	body {
		height: auto;
	}
	.wrapper {
		display: block;
	}
	.header {
		display: none;
	}
	.main {
		margin: 5% 0 0 0;
		height: auto;
	}
	.content {
		display: block;
	}
	.vignette {
		&__text {
			margin: 150px 0 20px 0;
		}
	}
	.player {
		&__item {
			& iframe{
				filter: none;
			}
		}
	}
	.footer {
		display: none;
	}
}