@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../fonts/AvenirNextCyr-Light.eot");
  src: local("Avenir Next Cyr Light"), local("AvenirNextCyr-Light"), url("../fonts/AvenirNextCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Light.woff") format("woff"), url("../fonts/AvenirNextCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../fonts/AvenirNextCyr-Medium.eot");
  src: local("Avenir Next Cyr Medium"), local("AvenirNextCyr-Medium"), url("../fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Icons';
  src: url("../fonts/Icons.ttf?qnuygb") format("truetype"), url("../fonts/Icons.woff?qnuygb") format("woff"), url("../fonts/Icons.svg?qnuygb#Icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="Icon-"]::before,
[class*=" Icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Icon-Discord:before {
  content: "\e902";
  color: #fff;
}

.Icon-Whatsapp:before {
  content: "\e905";
  color: #fff;
}

.Icon-Fugue:before {
  content: "\e900";
}

.Icon-Head:before {
  content: "\e901";
}

.Icon-TG:before {
  content: "\e903";
  color: #fff;
}

.Icon-VK:before {
  content: "\e904";
  color: #fff;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, u, s,
dl, dt, dd, ol, ul, li,
form, fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #030303;
  font-family: Open Sans;
  color: #ffffff;
}

ul {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(414px, auto) 1fr minmax(275px, auto);
  -ms-grid-columns: 1fr;
      grid-template: minmax(414px, auto) 1fr minmax(275px, auto)/1fr;
      grid-template-areas: "header" "main" "footer";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1704px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 1704px) 1fr;
}

.header__menu {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.header__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(auto, 568px) minmax(auto, 568px) minmax(auto, 568px);
      grid-template: 1fr/minmax(auto, 568px) minmax(auto, 568px) minmax(auto, 568px);
  grid-auto-flow: column;
  justify-items: center;
}

.header__link {
  font-weight: 700;
  font-size: 46px;
  line-height: 131px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  text-decoration: none;
}

.header__link:hover {
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke: 0 #030303;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1704px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 1704px) 1fr;
}

.content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr 1fr / 1fr;
}

.vignette__title {
  position: relative;
  overflow: hidden;
  height: 777px;
}

.vignette__title img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 25%;
     object-position: 50% 25%;
}

.vignette__name {
  -webkit-text-stroke: 1px #030303;
  position: absolute;
  font-family: 'Avenir Next Cyr';
  font-weight: 400;
  font-size: 96px;
  line-height: 118px;
  top: 75%;
  left: 43.5%;
}

.vignette__tip {
  position: absolute;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #666666;
  top: 95%;
  left: 48.5%;
}

.vignette__text {
  margin: 150px 0 250px 0;
}

.text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr minmax(50px, auto) minmax(50px, auto) minmax(150px, auto) minmax(auto, 200px) minmax(auto, 200px) minmax(auto, 200px) 1fr;
      grid-template: 1fr 1fr/1fr minmax(50px, auto) minmax(50px, auto) minmax(150px, auto) minmax(auto, 200px) minmax(auto, 200px) minmax(auto, 200px) 1fr;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.text__name-1, .text__name-2 {
  grid-row: span 2;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.text__name-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.text__name-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.text__name-3, .text__name-4, .text__name-5 {
  grid-row: span 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.text__name-3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

.text__name-4 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
}

.text__name-5 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / 8;
}

.thin {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #666666;
}

.player__item {
  padding: 0 0 30px 0;
}

.player__item iframe {
  -webkit-filter: sepia(15%) grayscale(30%);
          filter: sepia(15%) grayscale(30%);
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 568px) minmax(auto, 568px) minmax(auto, 568px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 568px) minmax(auto, 568px) minmax(auto, 568px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Avenir Next Cyr';
  color: #666666;
  font-weight: 300;
  font-size: 18px;
  line-height: 22.05px;
  letter-spacing: 0.03em;
}

.footer__copy {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer__text {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer__messengers {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.messenger {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(auto, 190) minmax(auto, 190) minmax(auto, 190);
      grid-template: 1fr/minmax(auto, 190) minmax(auto, 190) minmax(auto, 190);
}

.messenger__wa {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-column-align: end;
      justify-self: end;
}

.messenger__tg {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
}

.messenger__vk {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-column-align: start;
      justify-self: start;
}

.Icon-Whatsapp, .Icon-TG, .Icon-VK {
  font-size: 52px;
  text-decoration: none;
}

@media (max-width: 1100px) {
  .header__list {
    -ms-grid-rows: minmax(auto, 100px) minmax(auto, 100px) minmax(auto, 100px);
    -ms-grid-columns: 1fr;
        grid-template: minmax(auto, 100px) minmax(auto, 100px) minmax(auto, 100px)/1fr;
  }
  .vignette__title {
    height: 500px;
  }
  .vignette__name {
    font-size: 72px;
    line-height: 94px;
    top: 70%;
    left: 33.7%;
  }
  .vignette__tip {
    font-size: 18px;
    line-height: 25px;
    top: 95%;
    left: 47.7%;
  }
  .text {
    gap: 10px;
  }
}

@media (max-width: 700px) {
  .vignette__title {
    width: 700px;
  }
  .vignette__name {
    top: 70%;
    left: 38.18%;
  }
}

@media print {
  body {
    height: auto;
  }
  .wrapper {
    display: block;
  }
  .header {
    display: none;
  }
  .main {
    margin: 5% 0 0 0;
    height: auto;
  }
  .content {
    display: block;
  }
  .vignette__text {
    margin: 150px 0 20px 0;
  }
  .player__item iframe {
    -webkit-filter: none;
            filter: none;
  }
  .footer {
    display: none;
  }
}
